.App {
  display: flex;
}

.App > div {
}
body {
  background: url("image/Backroundimg.jpg");
}

.App > div {
  height: auto;
  width: auto;
  margin: 20px;
  padding: 20px;
  /*border: 3px solid #fff; */
  /*border-radius: 10px; */
  position: relative;
  white-space: pre-wrap;
}
.heading{
 color: red;
  float: left;

}

.btnDelete {
  float: right;

}
.btn_3 {
  display: flex;
  justify-content: space-between;
}
.ullibtn{
  margin-top: 5px;
}

.error {
  border: #ae0101 2px solid;
}

.error-message {
  color: #ae0101;
  font-weight: bold;
}

.active-filter {
  background-color: #31beb7;
}

.is-done {
  opacity: 0.5;
}


